extends layout.pug

block content
    h1.ui.header Bienvenue #{username} !
    a.ui.button(href="/logout") Se déconnecter
    a.ui.button(href="/admin-login") Admin

    // Cartes des articles
    if articles.length
        .ui.divider

        .ui.stackable.cards
            each article in articles
                .card
                    .content
                        .header= article.title
                        .meta= article.category.name
                        .description= article.summary
                    .extra.content
                        a(href=`/articles/${article._id}`) Lire plus

        // Pagination
        .ui.divider
        .ui.pagination.menu
            if currentPage > 1
                a.item(href=`/?page=${currentPage - 1}`) Précédent
            - for (let i = 1; i <= totalPages; i++)
                a.item(class=(i === currentPage ? 'active' : ''), href=`/?page=${i}`)= i
            if currentPage < totalPages
                a.item(href=`/?page=${currentPage + 1}`) Suivant
    else
        .ui.divider
        .ui.warning.message
            h4 Il n'y a pas encore d'articles disponibles. 
